body {
	height: 100%;
	background-color: green;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
}

h1 {
	animation: typing-text 5s steps(24), blink 0.5s infinite alternate;
	overflow: hidden;
	white-space: nowrap;
	border-right: 5px solid #fff000;
}

@keyframes typing-text {
	from {
		width: 0;
	}
	to {
		width: 24ch;
	}
}

@keyframes blink {
	from {
		border-color: transparent;
	}
	to {
		border-color: #000fff;
	}
}