.zoomPic {
  margin: 30px;
  width: 300px;
  height: 180px;
  background-image: url(https://i.stack.imgur.com/7f3er.jpg);
  background-repeat:no-repeat;
  background-position:50% 50%;
  
  -webkit-transition: all 10s ease-in-out;
  -moz-transition: all 10s ease-in-out;
  -ms-transition: all 10s ease-in-out;
  -o-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}
.zoomPic.zoom {
  background-size: 1200px 720px !important; 
}