body {
    margin: auto;
    padding: .5rem;
    max-width: 1000px;
    font-family: Ubuntu, sans-serif;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
    box-shadow: 10px 10px 10px rgb(98,140,166);
    
}

thead, tfoot {
    background-color: #7fb9c2;
}

thead {
    font-size: 1.25rem;
}

tfoot {
    font-size: .75rem;
    text-align: center;
}

td, th {
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
}

#highlight {
    background-color: #628ca6;
    color: white;
}

tbody th {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

a {
    text-decoration: none;
    color: black;
}

form {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 93%;
}

fieldset {
    border-radius: .5em;
}

label {
    display: block;
    margin: .5em;
    font-size: .8em;
}

label span {
    display: block;
    padding-top: .5em;
    padding-bottom: .2em;
}

#userOutput {
    border-width = 1px;
    border-style: solid;
    border-color: black;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    width: 800px;
    
}

pre {
    font-size: .75rem;
}

#canvas {
    border: 1px;
    border-style: solid;
    border-color: black;
}