body {
    margin: auto;
    padding: .2rem;
    max-width: 1000px;
    font-family: Ubuntu, sans-serif;
    background-color: grey;
}

.tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 10s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
}


form {
    /*margin: 0;*/
   /* padding-top: .0rem;
    padding-bottom: .0rem;*/
   /* max-width: 100%;*/
    background-image: url("http://stash.rachelnabors.com/img/codepen/tuna_sprite.png");
}

fieldset {
    border-radius: .1em;
    color: white;
}

label {
    display: block;
    margin: .5em;
    font-size: .8em;
}

label span {
    display: block;
    padding-top: .5em;
    padding-bottom: .2em;
}

 p, h2{
    color: white;
 }
}
