#myDIV {
    width: 300%;
    padding: 300px;
    text-align: center;
    background-color: red;
    margin-top: 30px;
    background-image: url("me.gif");
    background-size: 350px;
     margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 100px;

}


body{
     
       background-color: lightblue;

}
.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;