body {
    margin: auto;
    padding: .2rem;
    max-width: 1000px;
    font-family: Ubuntu, sans-serif;
    background-color: grey;
}



form {
   
    background-image: url("http://stash.rachelnabors.com/img/codepen/tuna_sprite.png") 0 0 no-repeat; 
}

fieldset {
    border-radius: .1em;
    color: white;
}

label {
    display: block;
    margin: .5em;
    font-size: .8em;
}

label span {
    display: block;
    padding-top: .5em;
    padding-bottom: .2em;
}

 p, h2{
    color: white;
 }
}
